<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94630536970-o2915pf45jpebm1sbpvoqrvp30enmuf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94630536970-o2915pf45jpebm1sbpvoqrvp30enmuf8</string>
	<key>API_KEY</key>
	<string>AIzaSyAl_PJlSPcKMFrid9VsSOSJ05xC8xyXr7A</string>
	<key>GCM_SENDER_ID</key>
	<string>94630536970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r2devpros.flutterFirebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-825fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-825fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94630536970:ios:b33471c793a94220c6bcf3</string>
</dict>
</plist>